.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

body {
    border: 0; 
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 800px;
}

#toppanel {
    font: 85%/0.9 arial, helvetica, sans-serif;
}

#toppanel a {
    color: #0099CC;
    text-decoration: none;
}

#toppanel a:hover {
    color: #00CCFF;
}

#toppanel a img {
  border: none;
}

.tab {
    position: relative;
    float: right;
    /*width: 200px;*/
    margin-right: 3px;
}

.tab li {
    display: block;
}

/* Panel Tab/button */
.tab .login {
	display: block;
	position: relative;
    float: right;
  	height: 42px;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
  	color: white;
  	font-size: 80%;
	text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0px 0px 10px 10px; 
    -moz-border-radius: 0px 0px 10px 10px; 
    -webkit-border-radius: 0px 0px 10px 10px;
    background: #272727;
    width: 195px;
}

.tab ul.login li {
 	text-align: left;
    margin-left: 1px;
	display: block;
	float: left;
	height: 42px;
}

.tab ul.login li a {
	color: #15ADFF;
}

.tab ul.login li a:hover {
	color: white;
}

.tab .sep {
    color: grey;
    padding: 0 5px;
}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 50px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(../images/sprites/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../images/sprites/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../images/sprites/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../images/sprites/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    right: 20px;
    width: 290px;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 235px;
	height: 270px;
	color: #999999;
    margin-right: 3px;
    border-left: 1px solid white;
    border-right: 1px solid white; 
	background: #272727;
	overflow: hidden;
	position: relative;
    float: right;
	z-index: 3;
	display: none;
}

#panel h1 {
	font-size: 1.6em;
	padding: 25px 0 10px;
	margin: 0;
	color: white;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#panel .grey {
    color: white;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	/*color: #15ADFF;*/
    color: white;
}

#panel a:hover {
	color: #15ADFF;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .login_content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .login_content {
	width: 180px;
	float: left;
	padding: 0 10px;
	border-left: 1px solid #333;
}

/*#panel .left {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #333;
}*/

#panel .login_content .right {
	border-right: 1px solid #333;
}

#panel .login_content form {
	margin: 0 0 10px 0;
}

#panel .login_content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .login_content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .login_content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .login_content input.bt_login {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
    background-color: #336699;
    color: #f0e68c;
    border: white 2px solid;
}

#panel .bt_logout {
	display: block;
    float: right;
    height: 15px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding-top: 7px;
    background-color: #336699;
    color: #f0e68c;
    border: white 2px solid;
}

#panel .login_content input.bt_register {
	width: 94px;
	color: white;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
    font-family: Arial;
	font-size: 1.2em;
	text-decoration: underline;
}

#panel .bt_logout {
    position: relative;
    float: right;
    margin-top: 120px;
}

#panel .slider_welcome_message {
    display: block;
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 50px 0 0 20px;    
}
