* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #d9cfb4;
    color: #7F7F81;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FF4500;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #5D9800;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

.user_menu {
    position:relative;
    float:left;
}

.user_menu li {
    display: block;
    list-style-type:none;
}

#wrapper {
	background: url(../images/img01.jpg) repeat-x left top;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#header {
	width: 980px;
	height: 63px;
	margin: 0 auto;
}

#logo {
	float: left;
	width: 660px;
	height: 63px;    
	background: url(../images/img03.png) no-repeat left top;
}

#logo h1 {
	margin: 0;
	padding: 5px 0px 0px 95px;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-shadow: #FFFFFF -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	color: #2D2722;
}

#logo a {
	text-decoration: none;
	color: #2D2722;
}

#menu {
	width: 980px;
	height: 46px;
	margin: 0 auto;
	padding: 15px 0px 0px 0px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 4px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 24px;
	padding: 4px 30px 0px 30px;
	text-decoration: none;
	text-shadow: #8A5608 0px 1px 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item{
    
    background-color: #dd5525;
    border-radius: 25px; 
    -moz-border-radius: 25px; 
    -webkit-border-radius: 25px; 
    border: 0px solid #800000;
}

#menu a:hover{
    background-color: #dd5525;
    border-radius: 25px; 
    -moz-border-radius: 25px; 
    -webkit-border-radius: 25px; 
    border: 0px solid #800000;
}

#splash {
	width: 980px;
	height: 340px;
	margin: 0px auto;
}

#page {
	width: 1000px;
	margin: 0 auto; 
	padding: 0;
}

#page-bgbtm {
	margin: 0px;
	padding: 20px 30px 0px 120px;
}

#page_content {
	float: left;
	width: 540px;
	padding: 0px 20px 0px 0px;
}

.post {
	padding-top: 20px;
    margin-left: 10%;
    margin-bottom: 9%;
    /*border: thin red solid;*/
}

.post .title {
	margin: 0px;
	padding-bottom: 10px;
	letter-spacing: -1px;
    /*border: thin green solid;*/
}

.post .title a {
	color: #E6700E;
	text-decoration: none;
	border: none;
}

.post .meta {
	border-top: 1px solid #CCC2A9;
	border-bottom: 1px solid #CCC2A9;
	padding: 5px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 10px 0px;
}

.sensor_box {
    position: relative;
    border: 1px solid #000; 
    background-color: #d9cfb4;
    width: 250px;
    height: 100px;
    /*padding-left: 5px;*/
    margin: 2px 0;
    display: block;
}

.sensor_box li {
    display: inline;
    list-style-type: none;
}

.sensor_box .sensor_box_name {
    margin-left: 10px;
    margin-bottom: 20px;
}             

.sensor_box .sensor_box_api div {
    display: inline;
    list-style-type: none;
    margin-left: 5px;
}

.sensor_box .sensor_box_api div > a {
    margin: 0 5px;
    font-weight: bold;
}

.sensor_box .down_remove_links div {
    display: inline;
    list-style-type: none;
    margin-left: -15px;
}

.sensor_box .down_remove_links div > a {
    margin: 0 5px;
    font-weight: bold;
}

.sensor_box .sensor_info, .sensor_box #apk_description {
    display:none;
}

.sensor_box:hover .sensor_info {
    display: block;
    position: absolute;
    z-index: 1;
    left: 252px;
    top: 0px;
    width: 200px;
    height: 130px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #000;
    background-color: #d9cfb4;
}

.sensor_info li {
    display: inline;
    list-style-type: none;
}

.sensor_info ul {
    margin-left: -30px;   
}

.sensor_info .sensor_container_f {
    position: absolute;
    left: 5px;
    top: 35px;
}

.sensor_info .sensor_container_s {
    position: absolute;
    left: 5px;
    top: 55px;
}

.sensor_info #apk_installed_on {
    position: absolute;
    left: 5px;
    bottom: 35px;
}

.sensor_info #apk_installed_on div {
    display: inline;
}

.apk_description_trigger {
    position: absolute;
    font-size: small;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

.apk_description_trigger:hover + #apk_description {
    display: block;
    position: absolute;
    z-index: 1;
    left: 217px;
    top: 0px;
    width: 200px;
    height: 120px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #000;
    background-color: #d9cfb4; 
}

#apk_description:hover .sensor_info {
    display: block;
}

#apk_description li {
    list-style-type: none;
}

.apk_description_trigger #descr_arrow {
    display: inline;
    padding: 0 5px;
}

#apk_description #apk_descr_text {
    
}

.upload_form ul {
    padding: 0; 
    margin-bottom: 3%;
}


.upload_form li {
    padding:0;
    display: inline-block;
    text-align: center;
    margin-left: 0;
    margin-right: 6%;
    margin-bottom: 5%;
    list-style-type: none;
    
}

.upload_form img {
    display:block;
}

.upload_form li > input[type="checkbox"] {
    /*opacity:0;*/
    display: none;
}

.upload_form li > div {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.upload_form .accelerometer {
    background: url("../images/sensors/medium/sprites/accelerometer_sensor.png") 0 0 no-repeat;
}
.upload_form .accelerometer_pressed {
    background: url("../images/sensors/medium/sprites/accelerometer_sensor.png") 0 -81px no-repeat;
}

.upload_form .magnetic_field {
    background: url("../images/sensors/medium/sprites/magnetic_field_sensor.png") 0 0 no-repeat
}
.upload_form .magnetic_field_pressed {
    background: url("../images/sensors/medium/sprites/magnetic_field_sensor.png") 0 -81px no-repeat
}

.upload_form .orientation {
    background: url("../images/sensors/medium/sprites/orientation_sensor.png") 0 0 no-repeat;
}
.upload_form .orientation_pressed {
    background: url("../images/sensors/medium/sprites/orientation_sensor.png") 0 -81px no-repeat;
}

.upload_form .gyroscope {
    background: url("../images/sensors/medium/sprites/gyroscope_sensor.png") 0 0 no-repeat;
}
.upload_form .gyroscope_pressed {
    background: url("../images/sensors/medium/sprites/gyroscope_sensor.png") 0 -81px no-repeat;
}

.upload_form .light {
    background: url("../images/sensors/medium/sprites/light_sensor.png") 0 0 no-repeat;
}
.upload_form .light_pressed {
    background: url("../images/sensors/medium/sprites/light_sensor.png") 0 -81px no-repeat;
}

.upload_form .pressure {
    background: url("../images/sensors/medium/sprites/pressure_sensor.png") 0 0 no-repeat;
}
.upload_form .pressure_pressed {
    background: url("../images/sensors/medium/sprites/pressure_sensor.png") 0 -81px no-repeat;
}

.upload_form .temperature {
    background: url("../images/sensors/medium/sprites/temperature_sensor.png") 0 0 no-repeat;
}
.upload_form .temperature_pressed {
    background: url("../images/sensors/medium/sprites/temperature_sensor.png") 0 -81px no-repeat;
}

.upload_form .proximity {
    background: url("../images/sensors/medium/sprites/proximity_sensor.png") 0 0 no-repeat;
}
.upload_form .proximity_pressed {
    background: url("../images/sensors/medium/sprites/proximity_sensor.png") 0 -81px no-repeat;
}

.upload_form .gravity {
    background: url("../images/sensors/medium/sprites/gravity_sensor.png") 0 0 no-repeat;
}
.upload_form .gravity_pressed {
    background: url("../images/sensors/medium/sprites/gravity_sensor.png") 0 -81px no-repeat;
}

.upload_form .linear_acceleration {
    background: url("../images/sensors/medium/sprites/linear_acceleration_sensor.png") 0 0 no-repeat;
}
.upload_form .linear_acceleration_pressed {
    background: url("../images/sensors/medium/sprites/linear_acceleration_sensor.png") 0 -81px no-repeat;
}

.upload_form .rotation {
    background: url("../images/sensors/medium/sprites/rotation_sensor.png") 0 0 no-repeat;
}
.upload_form .rotation_pressed {
    background: url("../images/sensors/medium/sprites/rotation_sensor.png") 0 -81px no-repeat;
}

.upload_form .humidity {
    background: url("../images/sensors/medium/sprites/humidity_w_percent_sensor.png") 0 0 no-repeat;
}
.upload_form .humidity_pressed {
    background: url("../images/sensors/medium/sprites/humidity_w_percent_sensor.png") 0 -81px no-repeat;
}

.upload_form .ambient_temperature {
    background: url("../images/sensors/medium/sprites/ambient_temperature_sensor.png") 0 0 no-repeat;
}
.upload_form .ambient_temperature_pressed {
    background: url("../images/sensors/medium/sprites/ambient_temperature_sensor.png") 0 -81px no-repeat;
}

.group_name {
    font-weight: bold;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 2.5em;
    color: teal;
    text-decoration: underline;
}

.leave_group button {
    margin-top: 50px;
}

.group_stats {
    margin-top: 50px;
    margin-left: -30px;
}

.group_stats li {
    display: inline;
    list-style-type: none;
}

.group_stats div {
    display: inline;
    padding: 0 5px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Footer */

#footer-wrapper, .push-footer {
    height: 80px;
    clear: both;
}

#footer-wrapper {
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	background: #2D2722 url(../images/img02.jpg) repeat-x left top;
}

#footer {
	clear: both;
	width: 980px;
	margin: 8px auto 0px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #61544B;
}

#footer a {
	color: #61544B;
}