* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #999999;//#d9cfb4; F2F2F2
    color: #7F7F81;
    overflow: scroll;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #0066FF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #5D9800;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}


/*menu vertical new*/

#menu_vertical{
	width: auto;
	position:fixed;
}

#menu_vertical ul {
	margin:0;
	padding:0;
	list-style-type:none;
}



#menu_vertical ul li {
	display: inline; /*IE 6*/
}



#menu_vertical ul li a {
	display:block;
	background:url("../images/nav_vertical.jpg") repeat-x top left;
	/*background: #d9cfb4;*/
	width:200px;
	text-decoration:none;
	padding:4px/*padding for top, bottom*/ 7px /*padding for left, right*/;
	border-bottom:1px solid #eeeeee;
	border-top:1px solid #cccccc;
	border-left:5px solid #484949;/*#333333;*/
	color: #484949; //#333333;
}


#menu_vertical ul li a:hover {
	border-left-color:#0099FF;
	color:#0066FF;
	background:#c4c4c4;
}

#menu_vertical ul  #current_page_menu a{
	border-left-color:#0099FF;
	color:#0066FF;
	background:#c4c4c4;
}


/*fin menu vertical*/

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -55px;
}

#logo {
	z-index:1;
	position: absolute;
	//float: left;
	width: 660px;
	height: 63px;    
	background: url(../images/img03.png) no-repeat left top;
}

#logo h1 {
	margin: 0;
	padding: 5px 0px 0px 95px;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-shadow: #FFFFFF -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	color: #2D2722;
}

#logo a {
	text-decoration: none;
	color: #2D2722;
}
/* CSS Document */


ul#menu{

	margin:0;
	padding:0;
		
	list-style-type:none;
		
	position:relative;
		
	display:block;
		
	height:100px;
		
	font-size:14px;
		
	font-weight:bold;
		
	background:url("../images/nav_up.jpg") repeat-x top left;

}



#menu li{

	display:block;
		
	float:left;
		
	margin:0;
		
	padding:0;
	
}
	
	

#menu li a{

	display:block;
		
	float:left;
	
	color:#888888;
		
	text-decoration:none;
		
	font-weight:bold;
		
	padding:60px 40px 0 40px;
		
	height:40px;
		
	margin:0;
		

}
	
	

#menu li a:hover{

background: url("../images/down.jpg") no-repeat top center;

color:#484949;	
	
}


.current_page_item{

background: url("../images/down.jpg") no-repeat top center;	

color:#484949;
	
}

/* Ende Menu horizental*/

// begin of lists
#group_users>ul, #list_devices>ul, #list_us>ul,
#group_devices>ul, #quests_list>ul {
    margin: 0;
    padding: 0;
    list-style:none;
   	width: 500px;
}

#group_users>ul>li, #list_devices>ul>li, #list_us>ul>li,
#group_devices>ul>li, #quests_list>ul>li {
    display:block;
	overflow: hidden;
    margin: 0;
    padding: 0px;
    list-style:none;
	height:40px; 
	width: 600px;
	

    /* Decorative CSS */
    background-color:#f0f0f0;

    /* CSS3 Transition Effect */
    /*transition: height 0.3s ease-out;
    -moz-transition: height 0.2s ease-out;
    -webkit-transition: height 0.2s ease-out;
    -o-transition: height 0.3s ease-out;*/

}

#group_users>ul>li>p, #list_devices>ul>li>p, #list_us>ul>li>p,
#group_devices>ul>li>p, #quests_list>ul>li>p {
    display:block;
    margin: 0;
    padding:10px;
    height:19px;

    /* Decorative CSS */
    border-top:#f0f0f0 1px solid;
    text-decoration:none;
    color: #000;
    background: #cccccc;

    /* CSS3 Gradient Effect */
    background: -moz-linear-gradient( top, #999999, #cccccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc); /* IE 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)";   /* IE 8 */
}

#group_users ul li.clicked, #list_devices>ul>li.clicked, #list_us>ul>li.clicked,
#group_devices ul li.clicked, #quests_list ul li.clicked {
	height: auto;
}

#group_users>ul>li:hover>p, #list_devices>ul>li:hover>p, #list_us>ul>li:hover>p,
#group_devices>ul>li:hover>p, #quests_list>ul>li:hover>p {
    /* Decorative CSS */
    color:#fff;
    background: #000000;
   

    /* CSS3 Gradient Effect */
    background: -moz-linear-gradient( top, #454545, #000000); /* FF, Flock */
    background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000)); /* Safari, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000); /* IE 5.5 - IE 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000)";   /* IE 8 */
}

#group_users>ul>li>p:hover, #list_devices>ul>li>p:hover, #list_us>ul>li>p:hover,
#group_devices>ul>li>p:hover, #quests_list>ul>li>p:hover {
    cursor:pointer;
}
// end of lists

#splash {
	width: 980px;
	height: 340px;
	margin: 0px auto;
}

#page {
	width: 700px;
	padding: 60px 80px 50px 250px;
}

#page-bgbtm {
	margin: 0px;
}

#page_content {
	padding: 0px 20px 0px 0px;
}

.post {
    margin-bottom: 9%;
    /*border: thin red solid;*/
}

.post .title {
	margin: 0px;
	padding-bottom: 10px;
	letter-spacing: -1px;
    /*border: thin green solid;*/
}

.post .title a {
	color: #E6700E;
	text-decoration: none;
	border: none;
}

.post .meta {
	border-top: 1px solid #CCC2A9;
	border-bottom: 1px solid #CCC2A9;
	padding: 5px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 10px 0px;
}

.sensor_box,
.sensor_box:hover .sensor_info,
.apk_description_trigger:hover + .apk_description {
    background-color: #d9cfb4;
    display: block;
    border-width: 0px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.sensor_box {
    position: relative;
    width: 250px;
    height: auto;
    /*padding-left: 5px;*/
    //margin: 2px 0;
}

.sensor_box li {
    display: inline;
    list-style-type: none;
}

.sensor_box .sensor_box_name {
    margin-left: 10px;
    margin-bottom: 40px;
}

.sensor_box .sensor_box_api {
    display: block;
    position: absolute;
    top: 90px;
    left: 15px;
}             

.sensor_box .sensor_box_api div {
    display: inline;
    list-style-type: none;
    margin-left: 5px;
}

.sensor_box .sensor_box_api div > a {
    margin: 0 5px;
    font-weight: bold;
    
}

.sensor_box .sensor_box_api_remove,
.sensor_box .down_remove_links .bt_download,
.sensor_box .down_remove_links .bt_upload,
.sensor_box .down_remove_links .bt_remove {
    position: absolute; 
    width: 20px;
    height: 20px; 
}


#list_devices .clicked .sensor_box_api_remove
{
	position: absolute;
	margin-left: 540px;
	width: 20px;
	height: 20px; 
	background: url("../images/sprites/bt_close.png") 0 -20px no-repeat;
}


#list_us .clicked .sensor_box_api_remove
{
	position: absolute;
	margin-left: 580px;
	width: 20px;
	height: 20px; 
	background: url("../images/sprites/bt_close.png") 0 -20px no-repeat;
}

.clicked .bt_upload
{
	position: absolute;
	margin-left: 560px;
	width: 20px;
	height: 20px; 
	background: url("../images/sprites/bt_up_down.png") 0 -21px no-repeat; 
}
.clicked .bt_download
{
	position: absolute;
	margin-left: 540px;
	width: 20px;
	height: 20px;
	background: url("../images/sprites/bt_up_down.png") 0 0 no-repeat;
}
.clicked .bt_quest
{
	position: absolute;
	margin-left: 515px;
	margin-bottom: 5px;
	width: 30px;
	height: 30px; 
	background: url("../images/bt_quest.png") 0 0 no-repeat;
}

.sensor_box .down_remove_links div {
    display: inline;
    list-style-type: none; 
    margin: 0 5px;  
}

.sensor_box .down_remove_links div > a {
    height: 25px;
    font-weight: bold;
}

.sensor_box .sensor_info, 
.sensor_box .apk_description {
    display:none;
}

.sensor_box:hover .sensor_info {
    position: absolute;
    z-index: 1;
    left: 252px;
    top: 0px;
    width: 500px;/*200px;*/
    height: auto;/*130px;*/
    padding: 5px 5px 5px 10px;
}

.sensor_info li {
    display: inline;
    list-style-type: none;
}

.sensor_info ul {
    margin-left: -30px;   
}

/*.sensor_info .sensor_container_f {
    position: absolute;
    left: 5px;
    top: 35px;
}*/

/*.sensor_container_f {
    position: absolute;
    left: 5px;
    top: 35px;
}*/


.sensor_info .sensor_container_s {
    position: absolute;
    left: 5px;
    top: 55px;
}

.sensor_info .apk_installed_on {
    position: absolute;
    left: 10px;
    bottom: 35px;
}

.sensor_info .apk_installed_on div {
    display: inline;
}

.apk_description_trigger {
    position: absolute;
    font-size: small;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

.apk_description_trigger:hover + .apk_description {
    position: absolute;
    z-index: 1;
    left: 217px;
    top: 0px;
    width: 200px;
    height: auto;
    padding: 5px 5px 5px 10px;
}

.apk_description:hover .sensor_info {
    display: block;
}

.apk_description li {
    list-style-type: none;
}

.apk_description_trigger .descr_arrow {
    display: inline;
    padding: 0 5px;
}

.apk_description .apk_descr_text {
    width: 180px;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.upload_form ul {
    padding: 0; 
    margin-bottom: 3%;
}


.upload_form li {
    padding:0;
    display: inline-block;
    text-align: center;
    margin-left: 0;
    margin-right: 6%;
    margin-bottom: 5%;
    list-style-type: none;
    
}

.upload_form img {
    display: block;
}

.upload_form li > input[type="checkbox"] {
    display: none;
}

.upload_form li > div {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.upload_form .accelerometer {
    background: url("../images/sensors/medium/sprites/accelerometer_sensor.png") 0 0 no-repeat;
}
.upload_form .accelerometer_pressed {
    background: url("../images/sensors/medium/sprites/accelerometer_sensor.png") 0 -81px no-repeat;
}

.upload_form .magnetic_field {
    background: url("../images/sensors/medium/sprites/magnetic_field_sensor.png") 0 0 no-repeat
}
.upload_form .magnetic_field_pressed {
    background: url("../images/sensors/medium/sprites/magnetic_field_sensor.png") 0 -81px no-repeat
}

.upload_form .orientation {
    background: url("../images/sensors/medium/sprites/orientation_sensor.png") 0 0 no-repeat;
}
.upload_form .orientation_pressed {
    background: url("../images/sensors/medium/sprites/orientation_sensor.png") 0 -81px no-repeat;
}

.upload_form .gyroscope {
    background: url("../images/sensors/medium/sprites/gyroscope_sensor.png") 0 0 no-repeat;
}
.upload_form .gyroscope_pressed {
    background: url("../images/sensors/medium/sprites/gyroscope_sensor.png") 0 -81px no-repeat;
}

.upload_form .light {
    background: url("../images/sensors/medium/sprites/light_sensor.png") 0 0 no-repeat;
}
.upload_form .light_pressed {
    background: url("../images/sensors/medium/sprites/light_sensor.png") 0 -81px no-repeat;
}

.upload_form .pressure {
    background: url("../images/sensors/medium/sprites/pressure_sensor.png") 0 0 no-repeat;
}
.upload_form .pressure_pressed {
    background: url("../images/sensors/medium/sprites/pressure_sensor.png") 0 -81px no-repeat;
}

.upload_form .temperature {
    background: url("../images/sensors/medium/sprites/temperature_sensor.png") 0 0 no-repeat;
}
.upload_form .temperature_pressed {
    background: url("../images/sensors/medium/sprites/temperature_sensor.png") 0 -81px no-repeat;
}

.upload_form .proximity {
    background: url("../images/sensors/medium/sprites/proximity_sensor.png") 0 0 no-repeat;
}
.upload_form .proximity_pressed {
    background: url("../images/sensors/medium/sprites/proximity_sensor.png") 0 -81px no-repeat;
}

.upload_form .gravity {
    background: url("../images/sensors/medium/sprites/gravity_sensor.png") 0 0 no-repeat;
}
.upload_form .gravity_pressed {
    background: url("../images/sensors/medium/sprites/gravity_sensor.png") 0 -81px no-repeat;
}

.upload_form .linear_acceleration {
    background: url("../images/sensors/medium/sprites/linear_acceleration_sensor.png") 0 0 no-repeat;
}
.upload_form .linear_acceleration_pressed {
    background: url("../images/sensors/medium/sprites/linear_acceleration_sensor.png") 0 -81px no-repeat;
}

.upload_form .rotation {
    background: url("../images/sensors/medium/sprites/rotation_sensor.png") 0 0 no-repeat;
}
.upload_form .rotation_pressed {
    background: url("../images/sensors/medium/sprites/rotation_sensor.png") 0 -81px no-repeat;
}

.upload_form .humidity {
    background: url("../images/sensors/medium/sprites/humidity_w_percent_sensor.png") 0 0 no-repeat;
}
.upload_form .humidity_pressed {
    background: url("../images/sensors/medium/sprites/humidity_w_percent_sensor.png") 0 -81px no-repeat;
}

.upload_form .ambient_temperature {
    background: url("../images/sensors/medium/sprites/ambient_temperature_sensor.png") 0 0 no-repeat;
}
.upload_form .ambient_temperature_pressed {
    background: url("../images/sensors/medium/sprites/ambient_temperature_sensor.png") 0 -81px no-repeat;
}

.join_group,
.promo_form,
.users_wanting_scientist,
.upload_form,
.your_stuff,
.upload_successful,
.upload_failed {
    margin-top: 20px;
}

.group_name {
    font-weight: bold;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 2.5em;
    color: #333333;
}

.leave_group button {
    margin-top: 50px;
}

.group_stats {
    margin-top: 50px;
    margin-left: -30px;
}

.group_stats li {
    display: block;
    list-style-type: none;
}

.group_stats div {
    display: inline;
    padding: 0 5px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

#footer-wrapper, .push-footer {
    height: 45px;
    clear: both;
}

#footer-wrapper {
	overflow: hidden;
	bottom: 5px;
	width: 100%;
	background: #3b3b3b ;
}

#footer {
	clear: both;
	width: 980px;
	margin: 8px auto 0px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 5px 0px 20px 0px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

#footer a {
	color: #0000CD;
}



 /**
 This stylesheet is part of the java script calendar tcal
  **/


/* input box in default state */ 
.tcalInput {
	background: #FFFFFF url('../images/cal.gif') 100% 50% no-repeat;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../images/no_cal.gif');
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 170px;
	background-color: white;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	border: 1px solid silver;

	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('../imgages/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../images/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../images/next_mon.gif'); }
#tcalNextYear { background-image: url('../images/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	background-color: gray;
	color: white;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }		
